---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Team from '../components/Team.astro';
import ScrollToTop from '../components/ScrollToTop.astro';
---

<Layout title="About Us - A Class Barber">
    <Header class="pb-12" />
    <main>
        <Team />
    </main>
    <ScrollToTop />
</Layout>