---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Gallery from '../components/Gallery.astro';
import Service from '../components/Service.astro';
import ScrollToTop from '../components/ScrollToTop.astro';
---

<Layout title="A-Class Barbers">
    <main>
        <Hero />
        <Gallery />
        <Service />
    </main>
    <ScrollToTop />
</Layout>
