---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Gallery from '../components/Gallery.astro';
import Services from '../components/Services.astro';
---

<Layout title="A-Class Turkish Barbers">
    <main class="relative">
        <Hero />
        <Gallery />
        <Services />
        {/* Other content */}
    </main>
</Layout>
